.Wrapper {
  padding: 0;
  margin: 0;
  max-height: 4.8rem;
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Wrapper--Extended {
  display: block;
  max-height: none;
}

.Wrapper__Button {
  padding: 0;
  margin: 0;
  display: block;
  border: none;
  background: none;
  color: var(--color-see-more-button);
}

.Wrapper__Button:hover {
  cursor: pointer;
}